<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>TODOS FOR TODAY:</h1>

    <a href="/todo/add">Add new todo</a>
    <a href="/assignee">List of Assignees</a>
    <p></p>

    <form action="/todo/search" method="post">
        <label>Search: </label>
        <input type="text" name="search_term">

        <label> by: </label>
        <input type="submit" name="search_by" value="Title">
        <input type="submit" name="search_by" value="Content">
        <input type="submit" name="search_by" value="Description">
    </form>

    <p></p>

    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DONE</th>
            <th>URGENT</th>
            <th>ASSIGNEE</th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td>
                <span th:if="${todo.getAssignee() != null}">
                    <a
                            th:href="'/assignee/' + ${todo.assignee.getId()} + '/todos'"
                            th:text="${todo.getAssignee().getName()}"></a>
                </span>
            </td>
            <td>
                <a th:href="|/todo/${todo.getId()}/delete|">delete</a>
            </td>
            <td>
                <a th:href="|/todo/${todo.getId()}/edit|">edit</a>
            </td>
        </tr>
    </table>
</body>
</html>