<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
    <header th:fragment="header">
        <h1>Martin's shop</h1>
        <nav>
            <button th:action="@{/only-available}">Only available</button>
            <button>Cheapest first</button>
            <button>Contains nike</button>
            <button>Average stock</button>
            <button>Most Expensive available</button>
        </nav>
    </header>
</body>
</html>