<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Webshop</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/navBar :: nav-bar"></nav>
    <form th:replace="fragments/searchBar :: search-bar"></form>
    <div th:if="${items != null}">
        <table  th:replace="fragments/itemsTable :: items-table"></table>
    </div>
    <h2 th:if="${averageStock != null}"
        th:text="|Average stock: ${#numbers.formatDecimal(averageStock, 0, 'NONE', 1, 'POINT')}|"></h2>
</body>
</html>