<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>More Filters | My Webshop</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/navBarMore :: nav-bar"></nav>
    <p></p>
<!--    <form th:replace="fragments/searchBar :: search-bar"></form>-->
    <div th:if="${items != null}">
        <table  th:replace="fragments/itemsTable :: items-table"></table>
    </div>
</body>
</html>