<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
        </tr>
        <tr th:each="account : ${accounts}">
            <td th:text="${accountStat.index}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="|${#numbers.formatDecimal(account.balance, 1, 'NONE', 2, 'POINT')} Zebra|"></td>
            <td th:text="${account.animalType}"></td>
        </tr>
    </table>
</body>
</html>