<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Bank Account</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
        </tr>
        <tr th:object="${account}">
            <td th:text="*{name}"></td>
            <td th:text="|*{#numbers.formatDecimal(balance, 0, 'NONE', 2, 'POINT')} Zebra|"></td>
            <td th:text="*{animalType}"></td>
        </tr>
    </table>
</body>
</html>