<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Student</title>
</head>
<body>
    <form action="/gfa/check" method="POST">
        <input type="text" name="studentName">
        <input type="submit" value="Check Student">
    </form>
    <div th:if="${studentName}">
        <p th:text="${isStudent} ? ${studentName} + ' is student' : ${studentName} + ' is not student'"></p>
    </div>
    <a href="/gfa">Return to Homepage</a></br>
</body>
</html>