* {
    font-family: Arial , sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 450px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbe0e6;
}

h1 {
    margin-bottom: 5px;

    align-self: flex-start;

    font-size: small;
    font-weight: bold;
}

.posts {
    width: 100%;
    min-width: 450px;
}

.post {
    margin-bottom: 10px;
    border: 1px solid #cecfd0;
    border-radius: 4px;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.post:hover {
    border-color: #98999a;
}

.voting {
    background-color: #f8f9fa;
    min-width: 30px;

    border-radius: 4px;
    font-weight: bold;
    font-size: 11px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.voting button {
    height: 20px;
    width: 20px;
    margin: 6px;
    background-color: #f8f9fa;
    border: 0;
    border-radius: 3px;
    color: #878a8c;
    font-weight: bolder;
    font-size: 15px;
    line-height: 15px;
    padding: 0;
}

.voting button.up {
    margin-bottom: 0px;
}

.voting button.down {
    margin-top: 0px;
}

.voting button:hover {
    background-color: #e2e2e3;
}

.voting button.up:hover {
    color: #bf3514;
}

.voting button.down:hover {
    color: #6079c9;
}

.voting button:active {
    background-color: #cdcecf;
    outline: none;
}

.voting button:focus {
    background-color: #cdcecf;
    outline: 0;
}

.post-main {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.date {
    margin: 5px;

    color: #7a7d7f;
    font-size: 9px;
}

.title {
    margin: 0 15px 5px 5px;
}

.title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
}

.pagination a {
    color: black;
    padding: 5px;
    border: 1px solid #cecfd0;
    border-radius: 4px;
    background-color: #ffffff;
    text-decoration: none;
}

.pagination a:hover {
    border: 1px solid #cecfd0;
    background-color: #e2e2e3;
}

