.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: "Times New Roman", sans-serif;
    /*input has OS specific font-family*/
    color: #640ff2;
    text-decoration: underline;
    cursor: pointer;
}