<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
    <table th:fragment="items-table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}" th:object="${item}">
            <td class="name" th:text="*{name}"></td>
            <td class="type" th:text="*{type.label}"></td>
            <td th:text="*{description}"></td>
            <div th:switch="${currency}">
                <td th:case="Kč" class="price" th:text="|*{#numbers.formatDecimal(price, 1, 'NONE', 1, 'POINT')} ${currency}|"></td>
                <td th:case="€" class="price" th:text="|*{#numbers.formatDecimal(price/26, 1, 'NONE', 2, 'POINT')} ${currency}|"></td>
            </div>
            <td class="quantity"th:text="*{quantity}"></td>
        </tr>
    </table>
</body>
</html>