* {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0 auto;
  width: 785px;
}

header h1 {
  color: rgb(31, 194, 216);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(31, 194, 216);
  height: 40px;
}

nav a {
  margin-right: 10px;
}

nav button {
  text-transform: uppercase;
  background-color: rgb(244, 73, 59);
  border-style: hidden;
  border-radius: 3px;
  color: white;
  height: 25px;
}