<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
    <nav th:replace="navigation-bar :: nav-bar"></nav>

    <p></p>
    <form th:action="'./nutritionStore?name=' + ${fox.getName()}" method="post">
        <label>Food</label>
        <select name = "food">
            <option
                    th:each="food : ${foods}"
                    th:value="${food.id}"
                    th:text ="${food.name}"
                    th:selected="${food} == ${fox.getFood()}">
            </option>
        </select>
        <label>Drink</label>
        <select name = "drink">
            <option
                    th:each="drink : ${drinks}"
                    th:value="${drink.id}"
                    th:text ="${drink.name}"
                    th:selected="${drink} == ${fox.getDrink()}">
            </option>
        </select>
        <input type="submit" value="Change">
    </form>

</body>
</html>