<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
   <h1>Register to Programmer Fox Club!</h1>

   <p th:if="${error} != null" th:style="'color: red;'" th:text="${error}"></p>
   <p th:unless="${error != null}"></p>

    <form action="/register" method="post">
        <label>Name: </label></br>
        <input type="text" name="username"></br>
        <p></p>
        <label>Password: </label></br>
        <input type="password" name="password"></br>
        <p></p>
        <label>Confirm Password: </label></br>
        <input type="password" name="passwordCheck"></br>
        <p></p>
        <input type="submit" name="submit" value="Register">
    </form>
</body>
</html>