<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>
    <nav th:replace="navigation-bar :: nav-bar"></nav>

    <p></p>
    <form th:if="${tricksToLearn.size() > 0}" th:action="'./trickCenter?name=' + ${fox.getName()}" method="post">
        <label>Tricks</label>
        <select name="trick">

            <option
                    th:each="trick: ${tricksToLearn}" th:object="${trick}"
                    th:value="*{id}"
                    th:text="*{name}">
            </option>
        </select>

        <input type="submit" value="Learn">
    </form>
    <p th:unless="${tricksToLearn.size() > 0}" th:text="'There are no more tricks to learn.'"></p>
</body>
</html>