<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/styles.css">
    <title>The Reddit</title>
</head>
<body>
    <form th:action="@{/submit}" method="get">
        <button type="submit" class="link-button">Submit new post</button>
    </form>

    <h1>Trending Posts</h1>
    <table>
        <tr th:each="post : ${posts}" th:object="${post}">
            <td th:text="*{score}"></td>
            <td>
                <form th:action="@{|/vote/${post.id}}" method="post">
                    <button type="submit" name="vote" value="1" class="link-button">+</button>
                </form>
            </td>
            <td>
                <form th:action="@{|/vote/${post.id}}" method="post">
                    <button type="submit" name="vote" value="-1" class="link-button">-</button>
                </form>
            </td>
            <td th:text="*{creationDate}"></td>
            <td>
                <form th:action="*{url}" method="get">
                    <button type="submit" th:text="*{title}" class="link-button"></button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>